.index-body{
    min-height:95vh;
    display:flex;
    flex-direction: column;
    margin:50px 50px 0 50px;
    font-family: "Poppins", sans-serif;
}
.logos {
   
    img{
        width:200px;
        height:auto;
    }
  }
.below-logo{
    font-size:2rem;

}
h1 span{
    color:blue;
}
.two-imgs{
    flex:1;
    max-width:100%;
}
.card{
    width:45%;
}
.images-one-andtwo{
    height:200px;
    margin-right:50px;
    float:left;
}
.devlo-name{
    color:midnightblue;
    text-align:right;
   
    P{
    opacity:0.5;
    margin-top:100px;}
}

.first{
    float:left;
   
}
.second{
    float:right;
   
}
.card{
    width:45%;
}
p{
    font-size:18px;
    font-family:sans-serif;
}
.images-title{
    color:burlywood;
    font-size:30px;
}
@media(max-width:680px){
    .below-logo{
        font-size:3rem;
        text-align:center;
    }
    .below-logo{
        font-size:1rem;
    
    }
    .two-imgs{
        max-width:100%;
    }
    .logos {
        width:90px;
        img{
            height:auto;
        }
      }
      h2.images-title{
       padding-top:100px;
    }
      .card {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
      }
    
      .card img {
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit: cover;
      }
}


